<div class="footer" id="footer">
    <div class="commit-panel" id="commit-panel">
        <div>
                <textarea placeholder="Tag Name (Required to create tag)..." class="tag-name-input" id="tag-name-input"></textarea>
                <textarea placeholder="Describe your tag message (Optional)..." class="tag-message-input" id="tag-message-input"></textarea>
        </div>
        
       
        <div class="commit-button-wrapper commit-input-button-wrapper" id="commit-button-wrapper">
          <textarea placeholder="Describe your changes here..." class="commit-message-input" id="commit-message-input"></textarea>
          <button class="commit-button" id="commit-button">Commit</button>
        </div>
        
        <div class="commit-button-wrapper" id="commit-button-wrapper">
            
            <button class="commit-button" id="fileEdit-button" (click)="displayFileEditor()">File Editor</button>
            <button class="commit-button" id="Issues-button" (click)="displayIssuePanel()">Issues</button>
            <!-- Maybe style this better -->
            <button class="commit-button" id="amend-commit-button" data-toggle="modal" data-target="#amend-commit-modal">Amend Commit</button>

        </div>
    </div>

    <div class="terminal" id="terminal">
    </div>

    <div class="status-panel" id="status-panel">
        <h4 style="color: white" id="status-heading">Local Status:</h4>
        <p id="ahead-behind-display"></p>
        <h4 style="color: white" id="status-info">Fetch to update with remote</h4>

    </div>
</div>

<!--Modal for amending the last commit-->
<div id="amend-commit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Amend Last Local Commit</h4>
        </div>
        <div class="modal-body">
          <div>
            <!-- Here's the input field to add the modified commit message -->
            <input class="modal-body-input" [(ngModel)]="amend" placeholder="Add modified commit message" type="text">
            <button type="button" class="btn btn-primary" (click)="amendLastCommit(amend)" data-dismiss="modal">Amend</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
