<div class="footer" id="footer">
    <div class="commit-panel" id="commit-panel">
        <div>
                <textarea placeholder="Tag Name (Required to create tag)..." class="tag-name-input" id="tag-name-input"></textarea>
                <textarea placeholder="Describe your tag message (Optional)..." class="tag-message-input" id="tag-message-input"></textarea>
        </div>
        
        <textarea placeholder="Describe your changes here..." class="commit-message-input" id="commit-message-input"></textarea>
        <div class="commit-button-wrapper" id="commit-button-wrapper">
            <button class="commit-button" id="commit-button">Commit</button>
            <button class="commit-button" id="fileEdit-button" (click)="displayFileEditor()">File Editor</button>
            <button class="commit-button" id="Issues-button" (click)="displayIssuePanel()">Issues</button>
            <button class="commit-button" id="amend-commit-button" (click)="amendLastCommit()" >Amend Commit</button>

        </div>
    </div>

    <div class="terminal" id="terminal">
    </div>

    <div class="status-panel" id="status-panel">
        <h4 style="color: white" id="status-heading">Local Status:</h4>
        <p id="ahead-behind-display"></p>
        <div class="fetch-button-wrapper" id="status-button-wrapper">
            <button class="fetch-button" id="fetch-button" onclick="fetchStatus()">Fetch</button>
        </div>
    </div>
</div>
